# Resource locations to be added to the default path
# Include here all the data nonrelated to the GUI
[General]
FileSystem=data/meshes

# Resource locations to be added to the default skin
[DefaultSkin]
FileSystem=data/skins/default/fonts
FileSystem=data/skins/default/imagesets
FileSystem=data/skins/default/imagesets/flags
FileSystem=data/skins/default/imagesets/shields
FileSystem=data/skins/default/layouts
FileSystem=data/skins/default/looknfeel
FileSystem=data/skins/default/lua_scripts
FileSystem=data/skins/default/schemes

# Resource locations to be added to the Arridi skin
[Arridi]
FileSystem=data/skins/arridi/fonts
FileSystem=data/skins/arridi/imagesets
FileSystem=data/skins/default/imagesets/flags
FileSystem=data/skins/default/imagesets/shields
FileSystem=data/skins/arridi/layouts
FileSystem=data/skins/arridi/looknfeel
FileSystem=data/skins/arridi/lua_scripts
FileSystem=data/skins/arridi/schemes